name: Deploy
on:
  push:
    branches: [main]

env:
  ECR_REGISTRY: 891612558210.dkr.ecr.ap-northeast-2.amazonaws.com
  ECR_REPOSITORY: 99percent
  ECS_CLUSTER: snuai
  ECS_TASK_DEFINITION: .github/task-definition.json
  CONTAINER_NAME: 99percent
  ECS_SERVICE: 99percent

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        run: |
          IMAGE=${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}
          docker build -t $IMAGE:latest .
          docker push $IMAGE:latest

      - name: Update ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ env.ECS_TASK_DEFINITION }}
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:latest

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true